<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My CRM</title>
  </head>
  <body>
    <h1> Welcome to <%= @crm_app_name %>!</h1>
    <p> <%= @time %></p>
    <p>Main Menu</p>
      <ul>
        <li><a href="/contacts">View all contacts</a></li>
        <li><a href="/contacts/new">Add a new contact</a></li>

  </body>
</html>
