<h1> Create new Contact</h1>

<form action='/contacts' method='post'>
  <label for="First Name">First Name</label>
  <input type='text' name='first_name'>
  <label for="Last Name">Last Name</label>
  <input type='text' name='last_name'>
  <label for="E-Mail">E-mail</label>
  <input type='text' name='email'>
  <label for="Note">Note</label>
  <input type='text' name='note'>
  <input type='submit' name='New Contact'>
</form>

<!-- <table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>E-Mail</th>
    <th>Note</th>
  </tr> -->
